:root {
  --background-color: #ececec;
  --gray-color: #dad8d8;
  --button-color: #a0a0a0;
  --button-border: 1px solid #808080;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.container {
  margin: 30px auto;
  padding: 10px 30px;
  h1 {
    text-align: center;
    padding-bottom: 10px;
  }
  hr {
    margin: 10px 0;
  }
  .gray-background {
    background-color: var(--gray-color);
  }
  .white-background {
    background-color: white;
  }
  .userInput {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    height: 35px;
    width: 100%;
    &-half {
      width: 50%;
    }
  }
}

.form {
  max-width: 800px;
  margin: 10px auto;
  border-radius: 6px;
  .form-group {
    width: 100%;
    padding: 30px 20px;
  }
}

.grid {
  display: grid;
  grid-column-gap: 15px;
  &-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.form-buttons {
  display: grid;
  grid-template-columns: 130px 130px;
  width: 100%;
  padding: 10px 50px;
  justify-content: end;
  button {
    padding: 10px 15px;
    margin: 10px;
    border-radius: 20px;
    border: var(--button-border);
    background-color: var(--button-color);
  }
  button:hover {
    cursor: pointer;
  }
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

table {
  margin: 20px auto;
  background-color: var(--gray-color);
  color: black;
  border: 1px solid black;
  border-collapse: collapse;
  th {
    background-color: #a0a0a0;
    color: white;
  }
  tr:nth-child(even) {
    background-color: var(--background-color);
  }
  th,
  td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  caption {
    padding-bottom: 10px;
  }
}
