<table>
    <caption><h3>User Inputs</h3></caption>
    <tr>
        <th>N</th>
        <th>Store name</th>
        <th>Date</th>
        <th>Served by</th>
        <th>Email</th>
        <th>BT Broadbrend</th>
        <th>BT TV Package</th>
        <th>Sport package</th>
        <th>Total payment</th>
        <th>Other Handy Info</th>
    </tr>
    <tr *ngFor="let form of (allFormsInfo | async); let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ form.storeName }}</td>
        <td>{{ form.date }}</td>
        <td>{{ form.servedBy }}</td>
        <td>{{ form.email }}</td>
        <td>{{ form.btBroadbrend }}</td>
        <td>{{ form.btTvPackage }}</td>
        <td>{{ form.sportPackage }}</td>
        <td>{{ form.totalPayment }}</td>
        <td>{{ form.otherHandyInfo }}</td>
    </tr>
</table>
